*{
    margin: 0;
    padding: 0;

}
.header{
    height: 100vh;
    width: 100%;
    border: 2px solid black;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("banner1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: white;
}
.header img{
    width: 170px;
    float: left;
}
.btn{
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid white;
     border-radius: 50px;
     background: transparent;
     color: white;
     float: right;
}
.header h1{
    padding-top: 260px;
    padding-bottom: 0;
    font-size: 60px;
}
.header p{
    margin: 18px 0px;

}
.input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: white;
    margin: auto;
    padding: 2px;
}
.form-control{
    border: 0;
    border-radius: 30px;
    margin: 2px;
    box-shadow: none;
}
.input-group-text{
    width: 100px;
    height: 3vh;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0;
    color: white;
    padding: 0 25px;
    border-radius: 30px;
    box-shadow: none;
}

.features{
    padding: 100px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width: 30%;
    
}












